.btn-hover:hover{
opacity: 50%;
cursor:pointer;
}
section{
    height: 100%;
}
main{
    height:100vh;
}
.superior{

    height:40%;
}
.inferior{

    height:60%;
}
#imgfoda{
    width: 200px;
}
#InputFoda{
width: 250px;


}