.btn-hover:hover{
opacity: 50%;
cursor:pointer;
}
section{
    height: 100%;
}
main{
    height:100vh;
}
.superior{

    height:40%;
}
.inferior{

    height:60%;
}
#imgfoda{
    width: 200px;
}
#imgfoda2{
    position:absolute;
    top: 100px;
    right:500px
    
}
#InputFoda{
    
    border-style: none;
    border-bottom:3px solid cornflowerblue;
}
#botao{
    border-radius: 5%;
    border-color:cornflowerblue;
    background-color:white;
    color:cornflowerblue;

}

#botao2{
    background-color:white;
    color:cornflowerblue;
    border-style: none;
}

.card{
    height: 280px;

}
.row{
    height:100%;

}
#Caixa1{
    width: 150px;
    height:80px;
}
#Caixa1:hover{
    border-color: cornflowerblue;
}
#lupagulosa{
    font-size: 25px;
}
#Caixa1:hover #palavrachave{
    color: cornflowerblue;
}
#Caixa1:hover #lupagulosa{
    color: cornflowerblue;
}
#inputfodalistico{
    width: 900px;

}
#botao67{
    background-color:cornflowerblue;

}